<div id="teamModal" class="modal" style="display:none; ...">
  <div class="modal-content" ...>
    <button id="closeTeamModal" ...>&times;</button>
    <div id="teamModalBody" ...></div>
  </div>
</div>
